{% extends 'base.html'%}

{% block content %}

          <h1>Cart</h1>
          <h1>Total:{{total}}</h1>
          <hr>

          {% for cartitem in cartitems %}
                        <div class="card mb-3" style="max-width: 540px;">
                           <div class="row g-0">
                             <div class="col-md-4">
                               <img src="{{cartitem.products.product_image.url}}" class="img-fluid rounded-start" alt="...">
                             </div>
                             <div class="col-md-8">
                               <div class="card-body">
                                 <h5 class="card-title">{{cartitem.products.product_name}}</h5>
                                 <p class="card-text">Quantity :{{cartitem.quantity}}</p>
                                  <p class="card-text">Price :{{cartitem.products.product_price}}</p>
                               </div>
                             </div>
                           </div>
                           </div>

          {% endfor%}

{% endblock%} 