<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<h1>Students</h1>

<hr>
<p>id is {{id}}</p>
<p>Name is {{name}}</p>

<a href="{% url 'home'%}">Click here to go Home page</a>

{% if id %}
<p>If block</p>
{% else %}
<p>else block</p>
{% endif %}

<hr>

<ul>
    {% for subject in subjects %}

   
    {%if forloop.first%}
          <li style="color: red;">{{subject}}</li>
    {% else %}
          <li style="color: rgb(0, 255, 60);">{{subject}}</li> 
    {% endif %}
    
    <ul>
        <li> <b>counter:{{forloop.counter}}</b></li>
        <li> <b>counter0:{{forloop.counter0}}</b></li>
        <li> <b>revcounter:{{forloop.revcounter}}</b></li>
        <li> <b>revcounter0:{{forloop.revcounter0}}</b></li>
        <li> <b>first:{{forloop.first}}</b></li>
        <li> <b>Last:{{forloop.last}}</b></li>
    </ul>

    {% endfor %}
</ul>

</body>

</html>